<%= render "shared/navbar" %>
<h1 class="payment-font">New payment</h1>

<%= render "form", payment: @payment %>

<br>

<div class ="links-shared">
  <%= link_to "Back to payments", category_payments_path %>
</div>
